.about-heading {
  margin-top: -20px;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 30px;
  line-height: 25px;
  height: 60vh;
}
.about-img {
  height: 60vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
.myImg {
  width: 300px;
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.about-row {
  height: auto;
}
@media screen and (max-width: 765px) {
  .about-img {
    justify-content: center;
    /* height: auto; */
  }
}
@media screen and (max-width: 900px) {
  .about-text {
    line-height: 22px;
  }
}
