.cardImg{
     padding: 10px 10px 0 10px;
}
.cardbtn{
    text-decoration: none;
    background-color: #353b48;
    padding: 8px 15px;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-text{
    color: #6C757D;
    font-size:15px;
}
.myrow{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 20rem;

}