.coll{
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
}
.contactDetails{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: start;   
}
.contact-btn{
    margin-top: 10px;
    padding: 2px 30px;
    font-size:20px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-weight: 400;
    color: #ff6b08;
   border:none;
   font-weight: bold;
    background-color:white;
}
.contact-btn:hover{
color:white;
background-color: #203740 ;
}
.repair{
    background: linear-gradient(to right, #ff6b08,#cf23cf);
    color: transparent;
    background-clip: text;
}
